<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse nav-search-from" id="bs-example-navbar-collapse-1">
      <div class="form-inline search-form">
        <div class="form-group search-box">
          <input type="text" id="zipcode" class="form-control input-box" placeholder="Zipcode">
        </div>
        <div class="form-group search-box">
          <%= select_tag "radius", options_for_select(Radius::RADIUS, @radius), {"onChange" => "changeRadius(this)", class: "form-control"} %>
        </div>
        <!--<div class="form-group search-box">
          <input type="text" id="filter" class="form-control input-box" placeholder="Filter" value="<%= @keyword %>">
        </div> -->
        <div class="form-group search-box">
          <button type="button" class="search-button btn btn-success" onclick="search()">
            <i class="glyphicon glyphicon-search"></i>
            <span>Search</span>
          </button>
        </div>
      </div>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="container">
  <div class="content">
    <% if @detailed_event %>
        <div class="event-container">
            <div class="event-list-container">
              <div class="row event-listing clearfix doc-padding">
                <div class="detail-event-header">
                  <span class="event-time"><%= Time.at(@detailed_event['time']/1000).strftime("%B %e, %Y at %I:%M %p") %></span>
                  <%= link_to "Register for event", {:controller => "meetup_events", :action => "join", :event => @detailed_event }, class: "join-button btn btn-success", target: "_blank" %>
                </div>
                <% if @detailed_event['photo'] %>
                    <div class="">
                      <%= image_tag @detailed_event['photo'], :class => "event_photo" %>
                    </div>
                <% end %>
                <p class="detail-event-name"><%= @detailed_event['name'] %></p>
                <div class="event-content">
                  <div class="col-sm-6">
                    <% if @detailed_event['venue'] %>
                        <div>
                          <p class="event-venue">Venue : </p>
                        </div>
                        <div>
                          <p class="col-sm-3 col-xs-3 event-venue-label">Name : </p>
                          <p class="col-sm-9 col-xs-9 event-venue-content"><%= @detailed_event['venue']['name'] %></p>
                        </div>
                        <div>
                          <p class="col-sm-4 col-xs-4 event-venue-label">Address : </p>
                          <p class="col-sm-8 col-xs-8 event-venue-content"><%= @detailed_event['venue']['address_1'] %>, <%= @detailed_event['venue']['city'] %>, <%= @detailed_event['venue']['localized_country_name'] %></p>
                        </div>
                    <% end %>
                  </div>
                  <div class="col-sm-6">
                    <div>
                      <p class="event-group">Group : </p>
                    </div>
                    <div>
                      <p class="col-sm-3 col-xs-3 event-group-label">Name : </p>
                      <p class="col-sm-9 col-xs-9 event-group-content"><%= @detailed_event['group']['name'] %></p>
                    </div>
                    <div>
                      <p class="col-sm-3 col-xs-3 event-group-label">Who : </p>
                      <p class="col-sm-9 col-xs-9 event-group-content"><%= @detailed_event['group']['who'] %></p>
                    </div>
                    <div>
                      <p class="col-sm-4 col-xs-4 event-group-label">Created Date : </p>
                      <p class="col-sm-8 col-xs-8 event-group-content"><%= Time.at(@detailed_event['group']['created']/1000).strftime("%B %e, %Y at %I:%M %p") %></p>
                    </div>
                  </div>
                </div>
                <div class="members">
                  <div class="col-sm-6">
                    <p class="col-sm-10 col-xs-10 event-venue-label">Maybe RSVP Count :</p>
                    <p class="col-sm-2 col-xs-2 event-venue-content"><%= @detailed_event['maybe_rsvp_count'] %></p>
                  </div>
                  <div class="col-sm-6">
                    <p class="col-sm-10 col-xs-10 event-venue-label">Yes RSVP Count :</p>
                    <p class="col-sm-2 col-xs-2 event-venue-content"><%= @detailed_event['yes_rsvp_count'] %></p>
                  </div>
                </div>
              </div>
            </div>
        </div>
    <% end %>
  </div>
</div>

<script>
    var radius = 50;
    var zipcode = '90001';

    function changeRadius(x){
        radius = x.value;
    }

    function search() {
        var zipcode = document.getElementById("zipcode").value;
        var keyword = document.getElementById("filter").value;
        var referrer = window.location.href.match(/^.*\//);
        var redirect_url = referrer + 'search?zipcode=' + zipcode + '&radius=' + radius + '&keyword=' + keyword;
        window.location = redirect_url;
    }
</script>
