<div class="background">
  <%= simple_form_for :filter_options, :url => url_for(:action => 'search', :controller => 'meetup_events'), html: { class: "form-inline search-form" } do |f| %>
      <div class="form-group search-box">
        <%= f.input_field :zipcode, class: 'form-control', placeholder: 'City or Zipcode' %>
      </div>
      <div class="form-group search-box">
        <%= f.input_field :radius, class: 'form-control', placeholder: 'Radius' %>
      </div>
      <div class="form-group search-box">
        <button type="submit" class="btn btn-success">
          <i class="glyphicon glyphicon-search"></i>
          <span>Search</span>
        </button>
      </div>
  <% end %>
</div>
<div class="content">
  <% if @fitness_events %>
  <h2 class="event-header">Meetup Events for Fitness</h2>
  <div class="event-container">
    <% @fitness_events.each do |fitness_event| %>
        <ul class="event-list-container">
          <li class="row event-listing clearfix doc-padding">
            <div>
              <span class="event-time"><%= Time.at(fitness_event['time']/1000).strftime("%B %e, %Y at %I:%M %p") %></span>
              <%= link_to "Register for event", {:controller => "meetup_events", :action => "join", :event => fitness_event }, class: "join-button btn btn-success" %>
            </div>
            <% if fitness_event['photo'] %>
                <div class="">
                  <%= image_tag fitness_event['photo'], :class => "event_photo" %>
                </div>
            <% end %>
            <p class="event-name"><%= fitness_event['name'] %></p>
            <div class="col-sm-6">
              <% if fitness_event['venue'] %>
                  <p class="event-venue">Venue : </p>
                  <p class="col-sm-3 col-xs-3 event-venue-label">Name : </p>
                  <p class="col-sm-9 col-xs-9 event-venue-name"><%= fitness_event['venue']['name'] %></p>
                  <p class="col-sm-4 col-xs-4 event-venue-label">Address : </p>
                  <p class="col-sm-8 col-xs-8 event-venue-address"><%= fitness_event['venue']['address_1'] %>, <%= fitness_event['venue']['city'] %>, <%= fitness_event['venue']['localized_country_name'] %></p>
                  <div>
                    <p class="col-sm-5 col-xs-5 event-venue-label">Members : </p>
                    <p class="col-sm-7 col-xs-7 event-venue-name"><%= fitness_event['members'] %></p>
                  </div>
              <% end %>
            </div>
            <div class="col-sm-6">
              <p class="event-group">Group : </p>
              <p class="col-sm-3 col-xs-3 event-group-label">Name : </p>
              <p class="col-sm-9 col-xs-9 event-group-name"><%= fitness_event['group']['name'] %></p>
              <p class="col-sm-3 col-xs-3 event-group-label">Who : </p>
              <p class="col-sm-9 col-xs-9 event-group-creator"><%= fitness_event['group']['who'] %></p>
              <p class="col-sm-4 col-xs-4 event-group-label">Created Date : </p>
              <p class="col-sm-8 col-xs-8 event-group-date"><%= Time.at(fitness_event['group']['created']/1000).strftime("%B %e, %Y at %I:%M %p") %></p>
              <p id="demo"></p>
            </div>
          </li>
        </ul>
    <% end %>
  </div>
  <% end %>

  <div class="clearfix"></div>

  <% if @outdoor_events %>
  <h2 class="event-header">Meetup Events for Outdoors & Adventure</h2>
  <div class="event-container">
    <% @outdoor_events.each do |event| %>
        <ul class="event-list-container">
          <li class="row event-listing clearfix doc-padding">
            <div>
              <span class="event-time"><%= Time.at(event['time']/1000).strftime("%B %e, %Y at %I:%M %p") %></span>
              <%= link_to "Register for event", {:controller => "meetup_events", :action => "join", :event => event }, class: "join-button btn btn-success" %>
            </div>
            <% if event['photo'] %>
                <div class="">
                  <%= image_tag event['photo'], :class => "event_photo" %>
                </div>
            <% end %>
            <p class="event-name"><%= event['name'] %></p>
            <div class="col-sm-6">
              <% if event['venue'] %>
                  <p class="event-venue">Venue : </p>
                  <p class="col-sm-3 col-xs-3 event-venue-label">Name : </p>
                  <p class="col-sm-9 col-xs-9 event-venue-name"><%= event['venue']['name'] %></p>
                  <p class="col-sm-4 col-xs-4 event-venue-label">Address : </p>
                  <p class="col-sm-8 col-xs-8 event-venue-address"><%= event['venue']['address_1'] %>, <%= event['venue']['city'] %>, <%= event['venue']['localized_country_name'] %></p>
                  <div>
                    <p class="col-sm-5 col-xs-5 event-venue-label">Members : </p>
                    <p class="col-sm-7 col-xs-7 event-venue-name"><%= event['members'] %></p>
                  </div>
              <% end %>
            </div>
            <div class="col-sm-6">
              <p class="event-group">Group : </p>
              <p class="col-sm-3 col-xs-3 event-group-label">Name : </p>
              <p class="col-sm-9 col-xs-9 event-group-name"><%= event['group']['name'] %></p>
              <p class="col-sm-3 col-xs-3 event-group-label">Who : </p>
              <p class="col-sm-9 col-xs-9 event-group-creator"><%= event['group']['who'] %></p>
              <p class="col-sm-4 col-xs-4 event-group-label">Created Date : </p>
              <p class="col-sm-8 col-xs-8 event-group-date"><%= Time.at(event['group']['created']/1000).strftime("%B %e, %Y at %I:%M %p") %></p>
            </div>
          </li>
        </ul>
    <% end %>
  </div>
  <% end %>

  <div class="clearfix"></div>

  <% if @sports_events %>
  <h2 class="event-header">Meetup Events for Sports & Recreation</h2>
  <div class="event-container">
    <% @sports_events.each do |event| %>
        <ul class="event-list-container">
          <li class="row event-listing clearfix doc-padding">
            <div>
              <span class="event-time"><%= Time.at(event['time']/1000).strftime("%B %e, %Y at %I:%M %p") %></span>
              <%= link_to "Register for event", {:controller => "meetup_events", :action => "join", :event => event }, class: "join-button btn btn-success" %>
            </div>
            <% if event['photo'] %>
                <div class="">
                  <%= image_tag event['photo'], :class => "event_photo" %>
                </div>
            <% end %>
            <p class="event-name"><%= event['name'] %></p>
            <div class="col-sm-6">
              <% if event['venue'] %>
                  <p class="event-venue">Venue : </p>
                  <p class="col-sm-3 col-xs-3 event-venue-label">Name : </p>
                  <p class="col-sm-9 col-xs-9 event-venue-name"><%= event['venue']['name'] %></p>
                  <p class="col-sm-4 col-xs-4 event-venue-label">Address : </p>
                  <p class="col-sm-8 col-xs-8 event-venue-address"><%= event['venue']['address_1'] %>, <%= event['venue']['city'] %>, <%= event['venue']['localized_country_name'] %></p>
                  <div>
                    <p class="col-sm-5 col-xs-5 event-venue-label">Members : </p>
                    <p class="col-sm-7 col-xs-7 event-venue-name"><%= event['members'] %></p>
                  </div>
              <% end %>
            </div>
            <div class="col-sm-6">
              <p class="event-group">Group : </p>
              <p class="col-sm-3 col-xs-3 event-group-label">Name : </p>
              <p class="col-sm-9 col-xs-9 event-group-name"><%= event['group']['name'] %></p>
              <p class="col-sm-3 col-xs-3 event-group-label">Who : </p>
              <p class="col-sm-9 col-xs-9 event-group-creator"><%= event['group']['who'] %></p>
              <p class="col-sm-4 col-xs-4 event-group-label">Created Date : </p>
              <p class="col-sm-8 col-xs-8 event-group-date"><%= Time.at(event['group']['created']/1000).strftime("%B %e, %Y at %I:%M %p") %></p>
            </div>
          </li>
        </ul>
    <% end %>
  </div>
  <% end %>

  <% if !@outdoor_events && !@outdoor_events && !@outdoor_events %>
  <p class="no-result">No Search Result</p>
  <% end %>
</div>
