<h1>Search</h1>
<%= simple_form_for :filter_options, html: { class: "form-inline" } do |f| %>
    <div class="form-group">
      <%= f.label :zipcode %>
      <%= f.input_field :zipcode, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :radius %>
      <%= f.input_field :radius, class: "form-control" %>
    </div>
    <%= f.button :submit, "Search" %>
<% end %>

<h3>Meetup Events for Fitness</h3>
<table class="table">
  <thead>
    <tr>
      <th>Id</th>
      <th></th>
      <th>Name</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
      <% @fitness_events.each do |event| %>
          <tr>
            <td><%= event['id'] %><td>
            <td><%= event['name'] %><td>
          </tr>
      <% end %>
  </tbody>
</table>

<div class="clearfix"></div>

<h3>Meetup Events for Outdoors & Adventure</h3>
<table class="table">
  <thead>
      <tr>
        <th>Id</th>
        <th></th>
        <th>Name</th>
        <th></th>
      </tr>
  </thead>
  <tbody>
      <% @outdoor_events.each do |event| %>
          <tr>
            <td><%= event['id'] %><td>
            <td><%= event['name'] %><td>
          </tr>
      <% end %>
  </tbody>
</table>

<div class="clearfix"></div>

<h3>Meetup Events for Sports & Recreation</h3>
<table class="table">
  <thead>
      <tr>
        <th>Id</th>
        <th></th>
        <th>Name</th>
        <th></th>
      </tr>
  </thead>
  <tbody>
      <% @sports_events.each do |event| %>
          <tr>
            <td><%= event['id'] %><td>
            <td><%= event['name'] %><td>
          </tr>
      <% end %>
  </tbody>
</table>
