
<h1>Meetup Events for Fitness</h1>
<table>
  <% @fitness_events.each do |event| %>
      <tr>
        <td><%= event['id'] %><td>
        <td><%= event['name'] %><td>
      </tr>
  <% end %>
</table>

<h1>Meetup Events for Outdoors & Adventure</h1>
<table>
  <% @outdoor_events.each do |event| %>
      <tr>
        <td><%= event['id'] %><td>
        <td><%= event['name'] %><td>
      </tr>
  <% end %>
</table>

<h1>Meetup Events for Sports & Recreation</h1>
<table>
  <% @sports_events.each do |event| %>
      <tr>
        <td><%= event['id'] %><td>
        <td><%= event['name'] %><td>
      </tr>
  <% end %>
</table>
