
<%= simple_form_for :filter_options do |f| %>
    <%= f.error_messages %>
    <%= f.input :zipcode %>
    <%= f.input :radius %>
    <%= f.button :submit %>
<% end %>

<h1>Meetup Events for Fitness</h1>
<table class="table">
  <% @fitness_events.each do |event| %>
      <tr>
        <td><%= event['id'] %><td>
        <td><%= event['name'] %><td>
      </tr>
  <% end %>
</table>

<h1>Meetup Events for Outdoors & Adventure</h1>
<table class="table">
  <% @outdoor_events.each do |event| %>
      <tr>
        <td><%= event['id'] %><td>
        <td><%= event['name'] %><td>
      </tr>
  <% end %>
</table>

<h1>Meetup Events for Sports & Recreation</h1>
<table class="table">
  <% @sports_events.each do |event| %>
      <tr>
        <td><%= event['id'] %><td>
        <td><%= event['name'] %><td>
      </tr>
  <% end %>
</table>
