<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <!--<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">-->
        <!--<span class="sr-only">Toggle navigation</span>-->
        <!--<span class="icon-bar"></span>-->
        <!--<span class="icon-bar"></span>-->
        <!--<span class="icon-bar"></span>-->
      <!--</button>-->
      <a class="navbar-brand" href="/" style="padding:0">
        <img src="../images/logo.png" class="logo">
      </a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="navbar-collapse nav-search-from">
      <form role="form" data-toggle="validator" action="search">
        <div class="form-inline search-form">
          <div class="form-group search-box">
            <input type="text" name="keyword" class="form-control input-box" placeholder="keyword" value="<%= @keyword %>">
          </div>
          <div class="form-group search-box">
            <input type="text" name="city" class="form-control input-box" placeholder="Enter City or Zipcode" value="<%= @city %>"required>
          </div>
          <div class="form-group search-box">
            <%= select_tag "radius", options_for_select(Radius::RADIUS, @radius), {"onChange" => "this.form.submit()", class: "form-control"} %>
          </div>
          <div class="form-group search-box">
            <%= select_tag "period", options_for_select(Period::PERIOD, @period), {"onChange" => "this.form.submit()", class: "form-control"} %>
          </div>
          <div class="form-group search-box">
            <button type="submit" class="search-button btn btn-success">
              <i class="glyphicon glyphicon-search"></i>
              <span>Search</span>
            </button>
          </div>
        </div>
      </form>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="content">
  <% if @message %>
      <div class="alert alert-danger alert-dismissable">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <div style="text-align:center">
            <strong><%= @message %></strong>
        </div>
      </div>
  <% end %>
  <div class="event-container grid">
    <% if @events %>
        <% @events.each do |event| %>
            <div class="grid-item">
              <div class="event-list-container">
                <%= link_to "Register for event", {:controller => "meetup_events", :action => "detailed_event", :event => event['id'], :zip => @zipcode, :radius => @radius }, class: "join-button btn btn-success hidden" %>
                <div class="row event-listing clearfix doc-padding">
                  <p class="event-name"><%= event['name'] %></p>
                  <% if event['photo'] %>
                      <div class="">
                        <%= image_tag event['photo'], :class => "event_photo" %>
                      </div>
                  <% end %>
                </div>
                <div class="row heart-time">
                  <div class="col-sm-3 col-xs-3">
                    <span class="glyphicon glyphicon-heart"></span>
                    <%= event['yes_rsvp_count'] %>
                  </div>
                  <div class="col-sm-9 col-xs-9 created-time">
                    <span class="glyphicon glyphicon-time"></span>
                    <%= Time.at(event['time']/1000).strftime("%b %e, %I:%M %p") %>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12 col-xs-12 location">
                    <% if event['venue'] %>
                        <i class="glyphicon glyphicon-map-marker"></i>
                        <%= event['venue']['address_1'] %>
                    <% end %>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12 col-xs-12 location">
                    <% if event['group'] %>
                        <i class="fa fa-users"></i>
                        <%= event['group']['name'] %>
                    <% end %>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12 col-xs-12 description">
                    <% if event['desc'] %>
                        <i class="fa fa-file-text"></i>
                        <%= event['desc'] %>
                    <% end %>
                  </div>
                </div>
                <div class="row">
                  <%= link_to "Register for event", {:controller => "meetup_events", :action => "join", :event => event }, class: "join-button btn btn-success pull-right", target: "_blank" %>
                </div>
              </div>
            </div>
        <% end %>
    <% end %>

    <% if @recommended_events %>
        <% @recommended_events.each do |event| %>
            <div class="grid-item">
              <div class="event-list-container">
                <%= link_to "Register for event", {:controller => "meetup_events", :action => "detailed_event", :event => event['id'], :zip => @zipcode, :radius => @radius }, class: "join-button btn btn-success hidden" %>
                <div class="row event-listing clearfix doc-padding">
                  <p class="event-name"><%= event['name'] %></p>
                  <% if event['photo'] %>
                      <div class="">
                        <%= image_tag event['photo'], :class => "event_photo" %>
                      </div>
                  <% end %>
                </div>
                <div class="row heart-time">
                  <div class="col-sm-3 col-xs-3">
                    <span class="glyphicon glyphicon-heart"></span>
                    <%= event['yes_rsvp_count'] %>
                  </div>
                  <div class="col-sm-9 col-xs-9 created-time">
                    <span class="glyphicon glyphicon-time"></span>
                    <%= Time.at(event['time']/1000).strftime("%b %e, %I:%M %p") %>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12 col-xs-12 location">
                    <% if event['venue'] %>
                        <i class="glyphicon glyphicon-map-marker"></i>
                        <%= event['venue']['address_1'] %>
                    <% end %>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12 col-xs-12 location">
                    <% if event['group'] %>
                        <i class="fa fa-users"></i>
                        <%= event['group']['name'] %>
                    <% end %>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12 col-xs-12 description">
                    <% if event['desc'] %>
                        <i class="fa fa-file-text"></i>
                        <%= event['desc'] %>
                    <% end %>
                  </div>
                </div>
                <div class="row">
                  <%= link_to "Register for event", {:controller => "meetup_events", :action => "join", :event => event }, class: "join-button btn btn-success pull-right", target: "_blank" %>
                </div>
              </div>
            </div>
        <% end %>
    <% end %>
  </div>
</div>

<!--<link rel="stylesheet" href="../stylesheets/dropdowns-enhancement.min.css" />-->
<!--<link rel="stylesheet" href="../stylesheets/dropdowns-enhancement.min.css" />-->
<script src="https://cdnjs.com/libraries/1000hz-bootstrap-validator"></script>
<script src="https://unpkg.com/masonry-layout@4.1/dist/masonry.pkgd.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/3.0.4/jquery.imagesloaded.min.js"></script>
<!--<script src="../javascripts/dropdowns-enhancement.js"></script>-->

<script>
    $(window).ready(function(){
        // init Masonry
        var $grid = $('.grid').masonry({
            // options...
            itemSelector: '.grid-item',
            gutter: 10
        });

        // layout Masonry after each image loads
        $grid.imagesLoaded().progress( function() {
            $grid.masonry('layout');
        });
    });
</script>
