<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse nav-search-from">
      <%= simple_form_for :filter_options, :url => url_for(:action => 'search', :controller => 'meetup_events'), html: { class: "form-inline search-form" } do |f| %>
          <div class="form-group search-box">
            <%= f.input_field :zipcode, class: 'form-control', placeholder: 'Zipcode' %>
          </div>
          <div class="form-group search-box">
            <span class="radius-label">Radius : </span>
            <%= f.select :radius, @radius_list, selected: '50', class: 'radius-input' %>
            <span class="radius-label">miles</span>
          </div>
          <div class="form-group search-box">
            <%= f.input_field :keyword, class: 'form-control', placeholder: 'Filter' %>
          </div>
          <div class="form-group search-box">
            <button type="submit" class="search-button btn btn-success">
              <i class="glyphicon glyphicon-search"></i>
              <span>Search</span>
            </button>
          </div>
      <% end %>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="content">
  <% if @fitness_events %>
      <div class="event-container grid">
        <% @fitness_events.each do |fitness_event| %>
            <div class="grid-item">
              <div class="event-list-container">
                <%= link_to "Register for event", {:controller => "meetup_events", :action => "detailed_event", :event => fitness_event['id'] }, class: "join-button btn btn-success hidden" %>
                <div class="row event-listing clearfix doc-padding">
                  <% if fitness_event['photo'] %>
                      <div class="">
                        <%= image_tag fitness_event['photo'], :class => "event_photo" %>
                      </div>
                  <% end %>
                  <p class="event-name"><%= fitness_event['name'] %></p>
                </div>
              </div>
            </div>
        <% end %>
      </div>
  <% end %>
  <div class="clearfix"></div>

  <% if @outdoor_events %>
      <h2 class="event-header">Meetup Events for Outdoors & Adventure</h2>
      <div class="event-container">
        <% @outdoor_events.each do |event| %>
            <ul class="event-list-container">
              <li class="row event-listing clearfix doc-padding">
                <div>
                  <span class="event-time"><%= Time.at(event['time']/1000).strftime("%B %e, %Y at %I:%M %p") %></span>
                  <%= link_to "Register for event", {:controller => "meetup_events", :action => "join", :event => event }, class: "join-button btn btn-success" %>
                </div>
                <% if event['photo'] %>
                    <div class="">
                      <%= image_tag event['photo'], :class => "event_photo" %>
                    </div>
                <% end %>
                <p class="event-name"><%= event['name'] %></p>
                <div class="event-content">
                  <div class="col-sm-6">
                    <% if event['venue'] %>
                        <div>
                          <p class="event-venue">Venue : </p>
                        </div>
                        <div>
                          <p class="col-sm-3 col-xs-3 event-venue-label">Name : </p>
                          <p class="col-sm-9 col-xs-9 event-venue-content"><%= event['venue']['name'] %></p>
                        </div>
                        <div>
                          <p class="col-sm-4 col-xs-4 event-venue-label">Address : </p>
                          <p class="col-sm-8 col-xs-8 event-venue-content"><%= event['venue']['address_1'] %>, <%= event['venue']['city'] %>, <%= event['venue']['localized_country_name'] %></p>
                        </div>
                    <% end %>
                  </div>
                  <div class="col-sm-6">
                    <div>
                      <p class="event-group">Group : </p>
                    </div>
                    <div>
                      <p class="col-sm-3 col-xs-3 event-group-label">Name : </p>
                      <p class="col-sm-9 col-xs-9 event-group-content"><%= event['group']['name'] %></p>
                    </div>
                    <div>
                      <p class="col-sm-3 col-xs-3 event-group-label">Who : </p>
                      <p class="col-sm-9 col-xs-9 event-group-content"><%= event['group']['who'] %></p>
                    </div>
                    <div>
                      <p class="col-sm-4 col-xs-4 event-group-label">Created Date : </p>
                      <p class="col-sm-8 col-xs-8 event-group-content"><%= Time.at(event['group']['created']/1000).strftime("%B %e, %Y at %I:%M %p") %></p>
                    </div>
                  </div>
                </div>
                <div class="members">
                  <div class="col-sm-6">
                    <p class="col-sm-10 col-xs-10 event-venue-label">Maybe RSVP Count :</p>
                    <p class="col-sm-2 col-xs-2 event-venue-content"><%= event['maybe_rsvp_count'] %></p>
                  </div>
                  <div class="col-sm-6">
                    <p class="col-sm-10 col-xs-10 event-venue-label">Yes RSVP Count :</p>
                    <p class="col-sm-2 col-xs-2 event-venue-content"><%= event['yes_rsvp_count'] %></p>
                  </div>
                </div>
              </li>
            </ul>
        <% end %>
      </div>
  <% end %>

  <div class="clearfix"></div>

  <% if @sports_events %>
      <h2 class="event-header">Meetup Events for Sports & Recreation</h2>
      <div class="event-container">
        <% @sports_events.each do |event| %>
            <ul class="event-list-container">
              <li class="row event-listing clearfix doc-padding">
                <div>
                  <span class="event-time"><%= Time.at(event['time']/1000).strftime("%B %e, %Y at %I:%M %p") %></span>
                  <%= link_to "Register for event", {:controller => "meetup_events", :action => "join", :event => event }, class: "join-button btn btn-success" %>
                </div>
                <% if event['photo'] %>
                    <div class="">
                      <%= image_tag event['photo'], :class => "event_photo" %>
                    </div>
                <% end %>
                <p class="event-name"><%= event['name'] %></p>
                <div class="event-content">
                  <div class="col-sm-6">
                    <% if event['venue'] %>
                        <div>
                          <p class="event-venue">Venue : </p>
                        </div>
                        <div>
                          <p class="col-sm-3 col-xs-3 event-venue-label">Name : </p>
                          <p class="col-sm-9 col-xs-9 event-venue-content"><%= event['venue']['name'] %></p>
                        </div>
                        <div>
                          <p class="col-sm-4 col-xs-4 event-venue-label">Address : </p>
                          <p class="col-sm-8 col-xs-8 event-venue-content"><%= event['venue']['address_1'] %>, <%= event['venue']['city'] %>, <%= event['venue']['localized_country_name'] %></p>
                        </div>
                    <% end %>
                  </div>
                  <div class="col-sm-6">
                    <div>
                      <p class="event-group">Group : </p>
                    </div>
                    <div>
                      <p class="col-sm-3 col-xs-3 event-group-label">Name : </p>
                      <p class="col-sm-9 col-xs-9 event-group-content"><%= event['group']['name'] %></p>
                    </div>
                    <div>
                      <p class="col-sm-3 col-xs-3 event-group-label">Who : </p>
                      <p class="col-sm-9 col-xs-9 event-group-content"><%= event['group']['who'] %></p>
                    </div>
                    <div>
                      <p class="col-sm-4 col-xs-4 event-group-label">Created Date : </p>
                      <p class="col-sm-8 col-xs-8 event-group-content"><%= Time.at(event['group']['created']/1000).strftime("%B %e, %Y at %I:%M %p") %></p>
                    </div>
                  </div>
                </div>
                <div class="members">
                  <div class="col-sm-6">
                    <p class="col-sm-10 col-xs-10 event-venue-label">Maybe RSVP Count :</p>
                    <p class="col-sm-2 col-xs-2 event-venue-content"><%= event['maybe_rsvp_count'] %></p>
                  </div>
                  <div class="col-sm-6">
                    <p class="col-sm-10 col-xs-10 event-venue-label">Yes RSVP Count :</p>
                    <p class="col-sm-2 col-xs-2 event-venue-content"><%= event['yes_rsvp_count'] %></p>
                  </div>
                </div>
              </li>
            </ul>
        <% end %>
      </div>
  <% end %>

  <!--<% if !@outdoor_events && !@outdoor_events && !@outdoor_events %>-->
      <!--<p class="no-result">No Search Result</p>-->
  <!--<% end %>-->
</div>
<script src="https://unpkg.com/masonry-layout@4.1/dist/masonry.pkgd.min.js"></script>
<script>
    var grid = document.querySelector('.grid');
    var msnry = new Masonry( grid, {
        // options...
        columnWidth: 30,
        itemSelector: '.grid-item'
    });

    $("div.grid-item").click(function() {
        window.location=$(this).find("a").attr("href"); return false;
    });

</script>
