<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/" style="padding:0">
        <img src="../images/logo.png" class="logo">
      </a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse nav-search-from" id="bs-example-navbar-collapse-1">
      <div class="form-inline search-form">
        <div class="form-group search-box">
          <input type="text" id="zipcode" class="form-control input-box" placeholder="Zipcode" value="<%= @zipcode %>">
        </div>
        <div class="form-group search-box">
            <%= select_tag "radius", options_for_select(Radius::RADIUS, @radius), {"onChange" => "changeRadius(this)", class: "form-control"} %>
        </div>
        <!--<div class="form-group search-box">
          <input type="text" id="filter" class="form-control input-box" placeholder="Filter" value="<%= @keyword %>">
        </div> -->
        <div class="form-group search-box">
          <button type="button" class="search-button btn btn-success" onclick="search()">
            <i class="glyphicon glyphicon-search"></i>
            <span>Search</span>
          </button>
        </div>
      </div>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="content">
  <div class="event-container grid">
    <% if @fitness_events %>
        <% @fitness_events.each do |fitness_event| %>
            <div class="grid-item">
              <div class="event-list-container">
                <%= link_to "Register for event", {:controller => "meetup_events", :action => "detailed_event", :event => fitness_event['id'] }, class: "join-button btn btn-success hidden" %>
                <div class="row event-listing clearfix doc-padding">
                  <% if fitness_event['photo'] %>
                      <div class="">
                        <%= image_tag fitness_event['photo'], :class => "event_photo" %>
                      </div>
                  <% end %>
                  <p class="event-name"><%= fitness_event['name'] %></p>
                </div>
                <div class="row">
                  <div class="col-sm-3 col-xs-3">
                    <span class="glyphicon glyphicon-heart"></span>
                    <%= fitness_event['yes_rsvp_count'] %>
                  </div>
                  <div class="col-sm-9 col-xs-9 created-time">
                    <span class="glyphicon glyphicon-time"></span>
                    <%= Time.at(fitness_event['time']/1000).strftime("%b %e, %I:%M %p") %>
                  </div>
                </div>
              </div>
            </div>
        <% end %>
    <% end %>

    <% if @outdoor_events %>
        <% @outdoor_events.each do |event| %>
            <div class="grid-item">
              <div class="event-list-container">
                <%= link_to "Register for event", {:controller => "meetup_events", :action => "detailed_event", :event => event['id'] }, class: "join-button btn btn-success hidden" %>
                <div class="row event-listing clearfix doc-padding">
                  <% if event['photo'] %>
                      <div class="">
                        <%= image_tag event['photo'], :class => "event_photo" %>
                      </div>
                  <% end %>
                  <p class="event-name"><%= event['name'] %></p>
                </div>
                <div class="row">
                  <div class="col-sm-3 col-xs-3">
                    <span class="glyphicon glyphicon-heart"></span>
                    <%= event['yes_rsvp_count'] %>
                  </div>
                  <div class="col-sm-9 col-xs-9 created-time">
                    <span class="glyphicon glyphicon-time"></span>
                    <%= Time.at(event['time']/1000).strftime("%b %e, %I:%M %p") %>
                  </div>
                </div>
              </div>
            </div>
        <% end %>
    <% end %>

    <% if @sports_events %>
        <% @sports_events.each do |event| %>
            <div class="grid-item">
              <div class="event-list-container">
                <%= link_to "Register for event", {:controller => "meetup_events", :action => "detailed_event", :event => event['id'] }, class: "join-button btn btn-success hidden" %>
                <div class="row event-listing clearfix doc-padding">
                  <% if event['photo'] %>
                      <div class="">
                        <%= image_tag event['photo'], :class => "event_photo" %>
                      </div>
                  <% end %>
                  <p class="event-name"><%= event['name'] %></p>
                </div>
                <div class="row">
                  <div class="col-sm-3 col-xs-3">
                    <span class="glyphicon glyphicon-heart"></span>
                    <%= event['yes_rsvp_count'] %>
                  </div>
                  <div class="col-sm-9 col-xs-9 created-time">
                    <span class="glyphicon glyphicon-time"></span>
                    <%= Time.at(event['time']/1000).strftime("%b %e, %I:%M %p") %>
                  </div>
                </div>
              </div>
            </div>
        <% end %>a
    <% end %>
  </div>

  <% if !@fitness_events && !@outdoor_events && !@sports_events %>
      <p class="no-result">No Search Result</p>
  <% end %>
</div>

<script src="https://unpkg.com/masonry-layout@4.1/dist/masonry.pkgd.min.js"></script>
<script>
    var grid = document.querySelector('.grid');

    $(window).load(function(){
        $('.grid').masonry({
            // options...
            itemSelector: '.grid-item',
            gutter: 10
        });
    });

//    var msnry = new Masonry( grid, {
////        // options...
////        columnWidth: 20,
////        fitWidth: true,
//        itemSelector: '.grid-item',
//        gutter: 10
//    });

    $("div.grid-item").click(function() {
        window.location=$(this).find("a").attr("href"); return false;
    });

    /*Form Submit*/
    var radius = 50;
    var zipcode = '90001';

    function changeRadius(x){
        radius = x.value;
    }

    function search() {
        var zipcode = document.getElementById("zipcode").value;
        var keyword = document.getElementById("filter").value;
        var referrer = window.location.href.match(/^.*\//);
        var redirect_url = referrer + 'search?zipcode=' + zipcode + '&radius=' + radius + '&keyword=' + keyword;
        window.location = redirect_url;
    }
</script>
